<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p><i>我可能已经看到了这个任务的简化版本<a href="/mission/first-word-simplified/">First Word (simplified)</a> 。这个任务有点复杂，因为在给定的字符串中不仅可以有英文字母。</i></p>

<p>
    你将得到一个字符串，你必须找到它的第一个单词。
</p>

<p>
    解决任务时要注意以下几点：
</p>
<ul>
    <li>一个字符串中可以有点和逗号。</li>
    <li>一个字符串可以以一个字母开始，也可以是一个/多个点或空格。</li>
    <li>一个词可以包含一个撇号，它是一个词的一部分。</li>
    <li>整个文本可以用一个词来表示，就这样。</li>
</ul>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>一个字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>一个字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>它是如何使用的：</strong>
    <i>第一个词是命令行中的一个命令</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件：</strong>
    <i>该文本可以包含a-z A-Z , . </i>
</p>
