<!-- Describe task in general -->

<p><i>Być może widziałem już uproszczoną wersję tej misji <a href="/mission/first-word-simplified/">First Word (simplified)</a>. Ta misja jest nieco bardziej złożona, ponieważ nie tylko angielskie litery mogą znajdować się w podanym ciągu.</i></p>

<p>
    Otrzymują Państwo ciąg znaków, w którym należy znaleźć pierwsze słowo.
</p>

<p>
    Podczas rozwiązywania zadania proszę zwrócić uwagę na następujące punkty:
</p>
<ul>
    <li>W ciągu mogą występować kropki i przecinki.</li>
    <li>Ciąg może zaczynać się od litery lub, na przykład, od jednej/wielu kropek lub spacji.</li>
    <li>Słowo może zawierać apostrof i jest częścią słowa.</li>
    <li>Cały tekst może być reprezentowany przez jedno słowo i to wszystko.</li>
</ul>

<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> Ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Sposób użycia:</strong>
    <i>pierwsze słowo jest poleceniem w wierszu poleceń</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunek wstępny:</strong>
    <i>tekst może zawierać a-z A-Z , . ' </i>
</p>
